body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#numberDisplay {
    font-size: 100px;
    color: white;
}
